# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    assignees: ["KonradHoeffner"]
    schedule:
      interval: "daily"
  - package-ecosystem: "cargo"
    directory: "/"
    assignees: ["KonradHoeffner"]
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
