<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <link rel="stylesheet" href="rickview.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,500&amp;subset=latin-ext,latin,greek-ext,greek,cyrillic-ext,vietnamese,cyrillic&amp;display=swap" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <article>
      <header>
        <hgroup>
          <h1>{title}</h1>
          <h2>{subtitle}</h2>
        </hgroup>
        <div id="abstract">
          {{ if examples }} Examples:
          <ul>
            {{ for c in examples }}
            <li><a href="{c}">{c}</a></li>
            {{ endfor }}
          </ul>
          {{ endif }}
        </div>
        <aside class="empty"></aside>
        <div id="directs">
          See also:
          <ul>
            {{if homepage}}<li><a href="{homepage}">Homepage</a></li>{{ endif }}
			{{if endpoint}}<li><a href="{endpoint}">SPARQL Endpoint</a></li>{{ endif }}
			{{if doc}}<li><a href="{doc}">Documentation</a></li>{{ endif }}
          </ul>
        </div>
      </header>
    </article>
    <footer>
      <div id="download">
        <p class="uppercase">RickView {cargo_pkg_version}</p>
        <a href="https://github.com/konradhoeffner/rickview" class="uppercase" target="_blank" title="based on RickView">download RickView to publish your data</a>
      </div>
      <div id="footer-right">
        <ul>
          <li>
            {{if github}}<a target="_blank" href="{github}">create Ontology issue on GitHub</a>{{ endif }}
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
