{{ call header with config}}
  <body>
    <article>
      <header>
        <hgroup>
          <h1>{config.title}</h1>
          <h2>{config.subtitle}</h2>
        </hgroup>
        <div id="abstract">
          {{ if config.examples }} Examples:
          <ul>
            {{ for c in config.examples }}
            <li><a href="{c}">{c}</a></li>
            {{ endfor }}
          </ul>
          {{ endif }}
        </div>
        <aside class="empty"></aside>
        <div id="directs">
          {{ if config.body }}<div id="custom">{ config.body | unescaped }</div>{{ endif }}
          See also:
          <ul>
            {{ if config.homepage }}<li><a href="{config.homepage}">Homepage</a></li>{{ endif }}
            {{ if config.endpoint }}<li><a href="{config.endpoint}">SPARQL Endpoint</a></li>{{ endif }}
            {{ if config.doc }}<li><a href="{config.doc}">Documentation</a></li>{{ endif }}
          </ul>
        </div>
      </header>
    </article>
{{ call footer with config}}
