{{ call header with config}}
	<body>
		<article>
			<header>
				<hgroup>
					<h1>{resource.title }</h1>
					{{- if resource.depiction }}<img class="depiction" src="{ resource.depiction }" />{{ endif }}
					<h2> {resource.uri}
						{{- if resource.main_type }}
						<span class="instance">
							<a title="<{resource.main_type}>" href="{resource.main_type}" target="_blank">
								<span class="instanceof">an entity of type:</span>
								<span>{ resource.main_type | uri_to_suffix }</span>
							</a>
						</span>
					{{ endif }}</h2>
				</hgroup>
				<div id="abstract">
					<table>
						{{- for entry in resource.descriptions }}
						<tr>
							<td class="td1">
								<label class="c1">{ entry.0 | unescaped }</label>
							</td>
							<td>
								{{- for value in entry.1 }} {{ if not @first }}
								{{- endif }}
								<span class="c2">{ value | unescaped }</span>
								{{- endfor }}
							</td>
						</tr>
						{{- endfor }}
					</table>
				</div>
				<aside class="empty"></aside>
				<div id="directs">
					<table>
						{{- for entry in resource.directs }}
						<tr>
							<td class="td1">
								<label class="c1">{ entry.0 | unescaped }</label>
							</td>
							<td class="td2">
								{{- for value in entry.1 }} {{ if not @first }}
								{{- endif }}
								<span class="c2">{ value | unescaped }</span>
								{{- endfor }}
							</td>
						</tr>
						{{- endfor }}
					</table>
				</div>
			</header>
			<aside class="empty"></aside>
			{{- if resource.inverses }}
			<div id="inverses">
				<h3>inverse relations</h3>
				<table>
					{{- for entry in resource.inverses }}
					<tr>
						<td class="td1">
							<label class="c1">is { entry.0 | unescaped } of</label>
						</td>
						<td class="td2">
							{{- for value in entry.1 }} {{ if not @first }}
							{{- endif }}
							<span class="c2">{ value | unescaped }</span>
							{{- endfor }}
						</td>
					</tr>
					{{- endfor }}
				</table>
			</div>
			{{- endif }}
		</article>
		<footer>
			<div id="footer-left">
				<p>
					<a href="https://github.com/konradhoeffner/rickview" class="uppercase" target="_blank" title="based on RickView">RickView {config.cargo_pkg_version}</a>
				</p>
				<p><a href="about" class="uppercase">graph stats</a></p>
				<p>{resource.duration}</p>
			</div>
			<div id="footer-right">
				<ul>
					<li>
						view as:
						<a href="?output=application/rdf%2Bxml">xml,</a>
						<a href="?output=application/n-triples">ntriples,</a>
						<a href="?output=application/turtle">turtle</a>
					</li>
					{{- if resource.github_issue_url }}
					<li>
						<a target="_blank" href="{resource.github_issue_url}">create issue about this resource on GitHub</a>
					</li>
					{{- endif }}
					<li>
						{{if config.github}}
						<a target="_blank" href="{config.github}/issues">view issues about the knowledge base on GitHub</a>
						{{- endif }}
					</li>
				</ul>
			</div>
		</footer>
	</body>
</html>
