/* taken from LodView */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  background-color: #212121;
}

hgroup {
  display: block;
  min-height: 210px;
  color: #fff;
  padding: 0 24px;
  background-color: rgba(197, 0, 123, 0.6);
}
hgroup a {
  color: #fff;
}

hgroup h1 {
  font-size: 32px;
  padding-top: 120px;
  line-height: 32px;
  font-weight: 300;
  margin-right: 100px;
}

hgroup img.depiction {
  margin-top: -120px;
  float: right;
  max-width: 98px;
  max-height: 118px;
  border: 1px solid aliceblue;
  padding: 1px;
}

hgroup h2 {
  font-size: 16px;
  padding: 8px 0 24px 0;
  font-weight: 300;
}

header div#abstract {
  padding: 24px;
  color: #fff;
  background-color: rgba(236, 116, 4, 0.6);
}

aside {
  display: block;
  background-color: rgba(137, 186, 23, 0.9);
  color: #fff;
  padding: 0;
  font-size: 0px;
  min-height: 10px;
}

label a span {
  font-weight: 500;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.7;
  font-weight: 300;
  color: #212121;
  font-size: 11px;
}

div#directs, div#publications {
  padding: 24px;
  background: #fff;
  color: #212121;
  line-height: 20px;
  font-size: 14px;
  overflow-x: hidden;
}

div#inverses {
  padding: 24px;
  background: #d4d4d4;
  color: #212121;
  line-height: 20px;
  font-size: 14px;
}

div#abstract a {
  color: #ffffff;
}

div#directs a, div#inverses a {
  color: #212121;
}

div#directs a:hover, div#inverses a:hover, div#publications a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-spacing: 1em 0em;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

#directs #custom a {
  cursor: revert;
  color: revert;
  text-decoration: revert;
}

.td1 {
  min-width: 15em;
}

td .c2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-width: 70vw;
  display: inline-block;
}

div#directs tr td.td2 {
 border-bottom: 1px solid #dbdbdb;
}

div#inverses tr td.td2 {
 border-bottom: 1px solid #b6b6b6;
}

div#directs tr td span.c2:not(:last-child) {
  background:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAABCAYAAADXeS5fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpFOUFBM0VFRjI2MzIxMUU0ODlBQ0JGRDRDQzEzOTQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpFOUFBM0VGMDI2MzIxMUU0ODlBQ0JGRDRDQzEzOTQzRSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjYzQ0FFQ0Q0MjYzMTExRTQ4OUFDQkZENENDMTM5NDNFIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkU5QUEzRUVFMjYzMjExRTQ4OUFDQkZENENDMTM5NDNFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+0iwesAAAABtJREFUeNpi3L59+38GBgZGICaZ9vDwYAQIMACSFAr/M4NKAgAAAABJRU5ErkJggg==)
    no-repeat
    bottom left;
}

hgroup h2 .instance {
  float: right;
  text-align: right;
  display: inline-block;
}

span.instanceof {
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  font-size: 11px;
}

hgroup h2 > span a span {
  font-weight: 500;
  color: #ffffff;
  font-size: 13px;
}

footer {
  min-height: 176px;
  color: #fff;
}

.uppercase {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .7;
  color: #b4b4b4;
  text-decoration: none;
}

footer {
    display: table;
    table-layout: fixed;
    width: 100%;
}

footer > div {
    display: table-cell;
    padding: 24px;
}

#footer-right {
  font-size: 12px;
  line-height: 24px;
}

#footer-right a, .footer-edit a {
  color: #fff;
  cursor: pointer;
}

.footer-edit {
    text-align: center;
}

.footer-edit a span {
    font-size: 24px;
    vertical-align: sub;
}

#footer-right ul li {
  min-height: 24px;
  text-align: right;
}

#footer-right ul {
  list-style: none;
}

div.datatype {
 color: #9e9e9e;
 float: right;
}

div#directs a.localinfo, div#inverses a.localinfo {
    color: #9e9e9e;
}
div#directs .td1 a.localinfo {
    color: #cecece
}
div#inverses .td1 a.localinfo {
    color: #9e9e9e
}

.td2 > details > summary {
    cursor: pointer;
    list-style: none;
}

.exhibit-collectionSummaryWidget-results {
    text-transform: uppercase;
}

#publications ol {
    margin-left: 1em;
    margin-right: 15em;
}

#publications ol li {
    padding: 1ex;
    padding-left: 0;
    margin-left: 2em;
    list-style: none;
}

#publications ol li div:first-letter {
    margin-left: -1em;
}

#publications details > summary {
    cursor: pointer;
    direction: rtl;
    font-size: 111%;
}

#publications details {
    font-size: 90%;
}

#publications div.exhibit-collectionView-group h1 {
    font-size: 100%;
    font-weight: 400;
}

#publications a, #publications strong em, #publications strong.author {
    font-weight: 300;
}

#publications strong.author span {
    font-weight: 400;
}

#publications em {
    padding-right: 2pt;
}

#publications .meta a.link {
    float: right;
    color: #9e9e9e;
}

.hideme, .exhibit-busyIndicator, div.exhibit-toolboxWidget-popup {
    display: none;
}

@media (max-width: 950px) {
    .td1 {
        width: 10em;
        min-width: 10em;
    }

    td .c2 {
        width: 100%;
        min-width: 100%;
    }

    #publications ol {
        margin-right: 2em;
    }
}

@media (max-width: 480px) {
    hgroup {
        min-height: inherit;
    }

    hgroup h1 {
        padding-top: 10px;
    }

    hgroup img.depiction {
        margin-top: -34px;
        max-height: 56px;
        max-width: 50px;
    }

    td {
        display: block;
        display: grid;
    }

    .td1 .td2 {
        margin-left: -1em;
    }

    .td2 {
        padding-left: 2em;
    }

    hgroup h2 .instance {
        padding-left: 2em;
    }
}
