<!DOCTYPE html>
<html>
  <head>
    <title>{suffix} &mdash; RickView</title>
    <link rel="stylesheet" href="/rickview.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="//fonts.googleapis.com/css?family=Roboto:100,300,500&amp;subset=latin-ext,latin,greek-ext,greek,cyrillic-ext,vietnamese,cyrillic&amp;display=swap"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <article>
      <header>
        <hgroup>
          <h1>{suffix}</h1>
          <h2>{uri}</h2>
        </hgroup>
        <div id="abstract">hier kommt der comment rein</div>
			  <aside class="empty"></aside>
        <div id="directs">
          <table>
            {{ for entry in directs }}
            <tr>
								<td><label class="c1" title="Describe what this property does">{entry.0}</label></td>
              <td class="c2">
                {{ for value in entry.1 }} {{ if not @first }}<br />{{ endif }}
                { value | unescaped } {{ endfor }}
              </td>
            </tr>
            {{ endfor }}
          </table>
        </div>
      </header>
			<aside class="empty"></aside>
      <div id="inverses">
        <h3>inverse relations</h3>
        <table>
          {{ for entry in inverses}}
          <tr>
						<td><label class="c1" title="Describe what this property does">is {entry.0} of</label></td>
            <td class="c2">
              {{ for value in entry.1 }} {{ if not @first }}<br />{{ endif }}
							<p>{ value | unescaped } {{ endfor }}</p>
            </td>
          </tr>
          {{ endfor }}
        </table>
      </div>
      {duration}
    </article>
  </body>
</html>
