name: Lint and Check

on: [push, pull_request]

jobs:
  check:
    #strategy:
      #matrix:
        #include:
          #- os: ubuntu-latest
          #- os: macos-latest
          #- os: windows-latest
    #runs-on: ${{ matrix.os }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt,clippy
      - name: fmt
        run: cargo fmt --check
      - name: clippy
        run: cargo clippy --no-deps --all-features
      - name: check
        run: cargo check
